{% extends "base.html" %}

{% block content %}
{% if current_user.is_anonymous %}
  <h1>Hello, stranger!</h1>
{% else  %}
  <h1>Hi, {{ current_user.username }}!</h1>

<!--  Main Part  	
{% for table in tables %}
    {{titles[loop.index]}}
    {{ table|safe }}
{% endfor %}
	-->
<head>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body>

    {% for id in ids %}
        <h3>{{id}}</h3>
        <center><div id="{{id}}" style="height: 50%; width: 50%;"></div><center>
    {% endfor %}

</body>


<footer>


    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};

        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }

    </script>
</footer>

{% endif %}
{% endblock %}